{% extends 'template.html' %}
{% block conteudo %}
<!-- CORPO DO APP -->
<div class="container mx-3">
    <h4>Turno: {{ turno }}</h4>

    <!-- MATÉRIAS DE ESTUDO -->
    {% if materias %}
    <h3 class="text-center">Matérias de hoje</h3>
    <div class="row text-center">
    {% for materia in materias %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ materia }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-secondary">Não há matérias para estudar hoje</p>
    {% endif %}
</div>

<div class="border border-secondary my-3"></div>

<div class="container mx-3">
    <!-- MATÉRIAS DE REVISÃO -->
    {% if conteudo_revisao %}
    <h3 class="text-center">Matérias de revisão</h3>
    <div class="row">
        {% for conteudo_revisao in conteudo_revisao %}
        <h6 class="">Turno: {{ conteudo_revisao[0] }}</h6>
        {% if conteudo_revisao[1] %}
        {% for materia, conteudo in conteudo_revisao[1].items() %}
        <div class="col-4 text-center">
            <div class="card">
                <div class="card-body">
                    <h5>{{ materia }}</h5>
                    <p>{{ conteudo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-secondary">Não há matérias para revisar</p>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-secondary">Não há matérias para revisar hoje</p>
    {% endif %}
</div>
{% endblock %}